@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffdef7;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.maintitle {
    text-align: center;
    padding: 20px;   
}

.custom-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.custom-button img {
    
    height: 24px;
    margin-right: 10px;
}

.custom-button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}